body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.header, .box1 {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 10px 120px;
}

.box1 {
    font-size: 18px;
    color: #E5E7EB;
    padding: 60px 120px;
}

.box1-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.box1-button {
    border: 1px #3882F6 solid;
}

.box2 {
    color: #1F2937;
    margin-bottom: 100px;
}

.box2-title {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    text-align: center;
}

.box2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box2-elem {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2-square {
    height: 150px;
    width: 150px;
    border: 4px #3882F6 solid;
    border-radius: 16px;
    margin-bottom: 10px;
}

.box3 {
    height: 400px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 200px;
}

.box3-author {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: #0f1216;
}

.box4 {
    color: #E5E7EB;
}

.box4-container {
    background-color: #3882F6;
}

.box4-button {
    border: 1px #F9FAF8 solid;
}

.footer {
    height: 50px;
    background-color: #1F2937;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 10px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 5px 20px;
}

img {
    width: 440px;
    height: 200px;
    margin-left: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 200px;
    color: rgb(221, 221, 221);
    background-color: #e5e7eb56;
  }